pipeline/Getmetadata and filter.json
{
	"name": "Getmetadata and filter",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata from gen 2 input",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filtercsv files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata from gen 2 input",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata from gen 2 input').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'csv')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-13T06:27:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}